In [40]:
from splinter import Browser
from bs4 import BeautifulSoup
import time
import requests
import os

In [41]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path)

In [42]:

url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [43]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

soup1 = soup.select_one('ul.item_list li.slide')

In [44]:
title = soup1.find("div", class_='content_title')
print(title.text)

NASA's Mars 2020 Rover Does Biceps Curls

In [45]:
# soup.content_title
para = soup1.find('div',class_="article_teaser_body")
print(para.text)

In this time-lapse video, the robotic arm on NASA's Mars 2020 rover maneuvers its 88-pound (40-kilogram) sensor-laden turret as it moves from a deployed to stowed configuration.

JPL Mars Space Images - Featured Image

In [46]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [47]:
image = browser.find_by_id('full_image')
image.click()

In [48]:
browser.is_element_present_by_text('more info')
x = browser.find_link_by_partial_text('more info')
x.click()

In [49]:
html = browser.html
bs = BeautifulSoup(html, 'html.parser')
image1 = bs.select_one('figure.lede a img').get("src")
link = f'https://www.jpl.nasa.gov{image1}'

In [50]:
print(image1)
print(link)

/spaceimages/images/largesize/PIA16694_hires.jpg
https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16694_hires.jpg

In [51]:
#Mars Weather

url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [52]:
html = browser.html
ws = BeautifulSoup(html, 'html.parser')

In [53]:
# First, find a tweet with the data-name `Mars Weather`
mwt = ws.find('div', attrs={"class": "tweet", "data-name": "Mars Weather"})

In [54]:
# Next, search within the tweet for the p tag containing the tweet text
mars_weather = mwt.find('p', 'tweet-text').get_text()
mars_weather

'InSight sol 233 (2019-07-23) low -98.8ºC (-145.9ºF) high -25.7ºC (-14.2ºF)\nwinds from the SE at 4.6 m/s (10.2 mph) gusting to 16.2 m/s (36.2 mph)\npressure at 7.60 hPapic.twitter.com/ksOXPg28yb'

In [55]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [56]:
hiu = []

links = browser.find_by_css("a.product-item h3")

for i in range(len(links)):
    hemisphere = {}
    
    browser.find_by_css("a.product-item h3")[i].click()
    
    sample_elem = browser.find_link_by_text('Sample').first
    hemisphere['img_url'] = sample_elem['href']
    
    hemisphere['title'] = browser.find_by_css("h2.title").text
    
    hiu.append(hemisphere)
    
    browser.back()

In [57]:
hiu

[{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

# MARS FACTS

In [58]:
import pandas as pd
df = pd.read_html('https://space-facts.com/mars/')[0]
df.columns=['description', 'value', 'compare']
df.set_index('description', inplace=True)
df

                              value          compare
description
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days
Temperature:          -153 to 20 °C      -88 to 58°C

In [59]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n      <th>compare</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-153 to 20 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [60]:
browser.quit()